jobscript*
pout.*
.bashrc
*.pbs
*.s
d
o
p
f
*_F.H
.DS_Store
log*
*.ex
.*.sw[n-p]
*.out
*.dat
*.hdf5
*.dSYM
LB.txt
Weyl_integral*
*ExtractionOut_*
time.table.*
*.patch
*.log
ipo_out.optrpt

Doxygen/html
