name: Clang Format

on: [push]

jobs:
  format:
    name: Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: '.'
        extensions: 'hpp,cpp'
        clangFormatVersion: 16
